/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background-color: #E3E3E3;
}

header {
    height: 150px;
    font-weight: bold;
    text-align: center;
    background: #ff335f;
    transition: .3s;
    margin-right: 0px;
    margin-left: 0px;
}

header img {
    float: left;
    max-height: 100px;
    width: auto;
    margin: 25px;
}

header img:hover {
    opacity: 0.7;
}

header h1 {
    display: table-cell;
    margin: 0.3em;
}

.topnav {
    margin: 2px;
    margin-bottom: 50px;
    font-size: 22px;
}

.topnav {
    list-style-type: none;
    margin-right: 2px;
    margin-left: 2px;
    padding: 3px;
    overflow: hidden;
    background-color: #ff335f;
}
  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav .active, .topnav a:hover {
    background-color: #fe0c40;
}

.topnav .icon {
    display: none;
}

#headline {
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
}

#fp-title {
    text-align: center;
    margin-bottom: 20px;
}

#fp-image {
    width: 100%;
    height: auto;
    align-content: right;
}

#story {
    text-align: left;
}

#extra-stories {
    margin-left: 1px;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    align-content: center;
}

#extra-image {
    width: 90%;
    height: auto;
    align-content: center;
}

section {
    text-align: center;
    align-content: center;
    padding: 10px;
}

#subscription-box {
    text-align: center;
    align-content: center;
    padding: 8px;
}

footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#story {
    margin-bottom: 20px;
}

#subscription-form-submit, #contact-us-submit {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.1s;
    width: 100%;
}

#contact-us-submit {
    width: 40%;
}

#subscription-form-submit:hover, #contact-us-submit:hover {
    background-color: white; /* Green */
    color: #555555;
    border: 2px solid #555555;
}

#report-information {
    padding: 15px;
}

#about-us, #contact-us {
    padding: 15px;
    margin-bottom: 15px;
}

#sponsor-us, #sponsor-list {
    padding: 15px;
    margin-bottom: 10px;
}

.archive-stories h4 {
    display: inline;
    text-align: left;
    margin-right: 30px;
}

.archive-stories img {
    max-height: 150px;
    width: auto;
    align-content: center;
    padding: 5px;
}

.sponsor-image {
    margin: 2px;
}

.sponsor-image img {
    width: 200px;
    height: auto;
    padding: 5px;
}

@media only screen and (min-width: 926px) {
    header h1 {
        font-size: 5em;
    }
}

@media only screen and (max-width: 925px) and (min-width: 576px) {
    header h1 {
        font-size: 3em;
        padding-top: 40px;
    }
}

@media only screen and (max-width: 575px) {
    header img {
        margin-left: 160px;
    }

    header {
        height: 100%;
    }
}

@media only screen and (max-width: 659px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

@media only screen and (max-width: 690px) and (min-width: 576px) {
    nav {
        margin: 0px;
    }

    nav ul {
        padding: 0px;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: white;
  }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
